.topo-do-site{
    background-color:rgb(112, 45, 134);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
}
.logo-e-pesquisa{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.navegação{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.pesquisa-do-header{
    margin-left: 1.30rem;
    border: none;
    border-bottom: 0.125rem solid #F5C661;
    background-image: url('../images/bx_bx-search.svg');
    background-repeat: no-repeat;
    background-color: rgb(112, 45, 134);
    padding-left: 1.85rem;
    font-size: 1.15rem;
    color: #F5C661;
    width: 20vw;
    outline: none;
    color: white;
}
#botao-para-loja{
    background-color: #F5C661;
    padding: 0.60rem;
    font-size: 1.15rem;
}
#botao-para-loja a{
    font-family: 'roboto';
}
::placeholder{
    color: white;
    font-family: 'roboto'
}