/*PARTE DE CIMA DA HOME*/
.frase-da-pagina{
    background-color: rgb(112, 45, 134);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0 5rem 0;
    
}
.frase-da-pagina h1{
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 0.125rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    color: #F5C661;
}
.frase-da-pagina p{
    color: #fafafa;
    font-size: 1.625rem;
    font-family: 'barlow';
}
/*fim*/

/*TIPOS DE PRODUTOS*/
.menu-categoria-produtos h1{
    display: flex;
    justify-content: center;
    padding: 1.875rem 0 3.75rem 0;
    font-family: 'roboto';
    color: rgba(0, 0, 0, 0.836);
}
#texto-das-categorias{
    padding: 0 0 1.125rem 1.5rem;
    font-size: 1.5rem;
    font-family: 'roboto';
}
.menu-categorias-dos-produtos-container ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 6rem;
}

.Categoria-content{
    background-repeat: no-repeat;
    height: 13.125rem;
    width: 15rem;
    position: relative;
    background-size: cover;
}
.Categoria-titulo{
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 0.5rem;
    font-size: 1.125rem;
}
@media(max-width: 765px){
    .menu-categorias-dos-produtos-container ul{
        justify-content: center;
        gap: 1.5rem;
    }
}
@media(max-width: 390px){
    .frase-da-pagina h1, p{
        text-align: center;
    }
    .frase-da-pagina h1{
        font-size: 2.7rem;
    }
    .menu-categoria-produtos h1{
        text-align: center;
    }
    #texto-das-categorias{
        padding: 0;
        padding-bottom: 1.5rem;
    }
}
/*fim*/

/*DIA DA SEMANA NA PAGINA HOME*/
.dia-da-semana{
    padding: 0 0 1.125rem 1.25rem;
}
.dia-da-semana h2{
    font-size: 1.875rem;
    font-weight: 700;
    font-family: 'roboto';
}
.dia-da-semana p{
    font-family: 'barlow';
    font-size: 1.5rem;
    font-weight: 600;
}
@media(max-width: 390px){
    .dia-da-semana{
        text-align: center;
        display: flex;
        padding: 0;
        padding-bottom: 1.125rem;
        justify-content: center;
        align-items: center;
    }
}
/*fim*/

/*PRATOS DO DIA*/
.conter-pratos-do-dia{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
}
.prato-do-dia{
    background-repeat: no-repeat;
    height: 21rem;
    width: 18rem;
    position: relative;
    background-size: cover;
    
}
.info-dos-pratos-do-dia{
    display: flex;
    flex-direction: column;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: 1.125rem;
    color: white
}
.info-dos-pratos-do-dia p{
    margin-top: 0.625rem;
}
.preço-e-btn-de-compra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625rem;
}
.preço-e-btn-de-compra button{
    border: none;
    border-radius: 0.625rem;
    background-color: #F5C661;
    padding: 0.50rem;
    margin-right: 0.25rem;
}
@media(max-width: 1146px){
    .conter-pratos-do-dia{
        justify-content: center;
        gap: 1.5rem;
    }
}

/*fim*/